<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{1} - %msg%n"/>
		</Console>
		
		<Routing name="Routing">
			<Routes pattern="$${ctx:testName}">
				<Route>
					<RollingFile name="File-${ctx:testName}" fileName="logs/${ctx:testName}.log" filePattern="logs/%d{yyyy-MM-dd}/archived_%d{HH-mm}-${ctx:testName}.log">
						<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{1} - %msg%n"/>
						<Policies>
							<OnStartupTriggeringPolicy/>
						</Policies>
					</RollingFile>
				</Route>
			</Routes>
		</Routing>
	</Appenders>

	<Loggers>
		<Root level="trace">
			<AppenderRef ref="Console" level="debug"/>
			<AppenderRef ref="Routing" level="debug"/>
		</Root>
	</Loggers>
</Configuration>